.page-container {
  position: relative;
  padding: 20px;
}

.link-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.link-button:hover {
  background-color: #c9c9c9;
}

.post-list {
  margin: 20px;
}

.post-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.post-image {
  margin-right: 20px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.post-content {
  flex: 1;
}

.post-content p {
  margin: 5px 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
}

.modal-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.close-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.page-container {
  position: relative;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  display: none;
}

.backdrop.show {
  display: block;
}

.offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  width: 600px;
  height: 100vh;
  background: #fff;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1050;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  visibility: hidden;
}

.offcanvas.show {
  visibility: visible;
  transform: translateX(0);
}

.connect-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.connect-button:hover {
  background-color: #0056b3;
}

.offcanvas-body {
  overflow-y: auto;
  max-height: 90vh;
}
