Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Templates/
시작 메뉴/
.bash_history
.config/
.dotnet/
.gitconfig
.lesshst
.node_repl_history
.viminfo
.vscode/
3D Objects/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
KHR/
Links/
Music/
NTUSER.DAT
NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
source/
test/

