.login-background {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #2a3c62 0%, #8D98A5 100%);
  /* background: url('/path/to/login.png') no-repeat center center fixed; */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
  box-sizing: border-box;
}

.register-container h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}


.register-container input,
.register-container select {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
}

.register-container input:focus,
.register-container select:focus {
  outline: none;
  border-color: #2a3c62; /* Updated to match button color */
  box-shadow: 0 0 5px #5679c5cd; /* Light shadow with button color */
}

.register-container input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.register-container button.submit-button {
  width: 100%; /* Make the submit button full width */
  padding: 14px; /* Adjusted padding for better appearance */
  background-color: #2a3c62; /* Button color */
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px; /* Slightly larger font for emphasis */
  font-weight: bold;
  text-align: center; /* Center text */
  transition: background-color 0.3s ease;
  box-sizing: border-box; /* Ensure padding is included in width */
  margin-top: 10px; /* Optional: Add margin at the top for spacing */
}

.register-container button.submit-button:hover {
  background-color: #4f74b8; /* Slightly darker on hover */
}

.register-container p {
  font-size: 12px;
  line-height: 0;
  margin-top: 0px;
  margin-bottom: 12px;
  padding-left: 3px;
}

.id-check-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0px;
}

.id-check-container input {
  flex: 1;
  margin-right: 8px;
  height: 45px; /* input의 높이를 고정 */
}

.id-check-container button {
  padding: 0 10px;
  background-color: #2a3c62;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  height: 45px; /* input의 높이를 고정 */

}

.id-check-container button:hover {
  background-color: #4f74b8;
}

.back-button {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
  color: #2a3c62;
  border: 1px solid #2a3c62;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.back-button:hover {
  background-color: #2a3c62;
  color: #fff;
}
