#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-links a.active {
  color: red;
}

.tableauPlaceholder {
  width: 90%;
  height: 90%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ReportForm {
  font-family: '바탕';
  display: inline-block;
  position: relative;
}