.path_information_box {
    position: absolute;
    top: 100px; /* px 단위 추가 */
    right: 0px; /* px 단위 추가 */
    background-color: white;
    padding: 10px;
    z-index: 100; /* z-index 추가 */
    height: 653px; /* px 단위 추가 */
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.close_button {
    position: absolute;
    top: 10px; /* 정보 창 내부에서의 위치 */
    left: 20px; /* 정보 창 내부에서의 위치 */
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: gainsboro;
  }

  .no_picture{
    margin-top: 30px;
    padding: 30px;
    width: 400px;
    height: 380px;
  }

.information_box1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}
 
.title{
    font-weight: bolder;
    font-size: 30px;
}

.ID{
    color: grey;
    margin-top: 17px;
}

.information_box2{
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.connect_button{
    background-color: rgb(43,2,130);
    color: white;
    padding: 10px;
    margin: 30px;
    width: 350px;
    border: none;
}
.connect_button.clicked {
  background-color: grey;
  cursor: not-allowed;
}
  